body {
  margin: 0;
  overflow: hidden; /* Hide scrollbar */
  width: 1920px;
  height: 1080px;
  background-color: black;
}

video {
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 3;
}

#content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgb(64, 47, 126);
  background: radial-gradient(
    circle,
    rgba(64, 47, 126, 1) 0%,
    rgba(58, 56, 135, 1) 9%,
    rgba(47, 72, 151, 1) 21%,
    rgba(36, 88, 168, 1) 35%,
    rgba(25, 104, 185, 1) 48%,
    rgba(10, 124, 206, 1) 60%,
    rgba(8, 153, 200, 1) 71%,
    rgba(7, 178, 195, 1) 79%,
    rgba(6, 204, 190, 1) 88%,
    rgba(5, 230, 185, 1) 100%
  );

  background-size: 700% 700%; /* Adjust size of gradient and noise */
  animation: gradient 30s infinite;
  mix-blend-mode: screen;
  z-index: -1;
}

#content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  background-size: 400px 400px;
  animation: gradient 30s infinite;
  mix-blend-mode: screen;
  opacity: 0.3; /* Adjust the opacity of the noise */
  z-index: -1;
}

/* Keyframe animation */
@keyframes gradient {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

/* .Title {
  position: absolute;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  animation: Title 5s ease;
  animation-fill-mode: forwards;
}

@keyframes Title {
  from {
    right: 0px;
    opacity: 0;
  }
  to {
    right: -200px;
    opacity: 1;
  }
} */
.Title {
  position: absolute;
  margin-top: 440px;
  margin-left: 324px;
  color: rgba(255, 255, 255, 0.96);
  text-align: center;
  font-family: Montserrat;
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 165px */
  letter-spacing: -1.21px;
  text-shadow: #00000054 0px 2px 15px;
}
